@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #b6ff52;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(
        235.64deg,
        #064bb5 -1.78%,
        rgba(4, 12, 24, 0.9) 52.42%,
        #064bb5 134.35%
    );
    /* background-repeat: no-repeat; */
    height: 100vh;
}

a {
    text-decoration: none;
}

/* =============SideBar=================== */
main {
    display: flex;
}

.row-1 {
    padding: 40px;
    background-color: #0c203c;
}

.row-2 {
    flex-grow: 1;
    overflow: auto;
}

.row-3 {
    flex-grow: 1;
}

.row-1 .brand {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.row-1 .brand .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.row-1 .brand .brand-name {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 1.4;
    color: #fffeff;
}

.row-1 .category {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #fafafa;
}

.row-1 .nav {
    margin: 32px 0;
}

.row-1 .item:hover span,
.row-1 .item:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(7158%)
        hue-rotate(25deg) brightness(94%) contrast(114%);
}

.row-1 .item:hover {
    border-bottom: 0.5px solid #6e71692f;
}

.row-1 .item a {
    display: flex;
    align-items: center;
    padding: 14px 0;
    cursor: pointer;
}

.row-1 .item span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.4;
    color: #fafafa;
}

.row-1 .item img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

/* Row 2 */
.row-2 {
    overflow: overlay;
    height: 100vh;
    padding: 45px 30px;
}

.row-2::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

.row-2::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /* background-color: rgba(22, 24, 35, 0.2); */
}

.row-2::-webkit-scrollbar-track {
    border-radius: 0;
    /* background-color: rgba(0, 0, 0, 0); */
}

.row-2 input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 0 24px;
    border: none;
}

.row-2 input::placeholder {
    font-weight: 700;
    font-size: 1.4;
    color: rgba(34, 34, 34, 0.5);
}

.row-2 .search {
    width: 70%;
    position: relative;
}

.row-2 .search img {
    position: absolute;
    right: 20px;
    top: 13px;
}

.row-2 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-2 header .active-icon {
    display: flex;
}

.row-2 header .active-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #b4b3b37f;
    cursor: pointer;
}

.row-2 header .active-icon .icon:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(7158%)
        hue-rotate(25deg) brightness(94%) contrast(114%);
}

.row-2 .hello {
    margin-top: 57px;
    display: flex;
    align-items: center;
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.4;
    color: #fafafa;
}

.row-2 .hello img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(90%) saturate(6559%)
        hue-rotate(6deg) brightness(93%) contrast(114%);
    margin-left: 10px;
}

.row-2 .banner {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background: linear-gradient(
            180deg,
            #a4e0ff 0%,
            rgba(32, 101, 136, 0.87) 100%
        ),
        #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
}

.row-2 .banner .main-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    bottom: 0;
}

.row-2 .banner .kind-of-music {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.4;
    color: #ffffff;
}

.row-2 .banner .singer {
    font-family: "Sen", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #ffffff;
}

.row-2 .banner .singer span {
    color: var(--primary-color);
}

.row-2 .banner .statistics .plays,
.row-2 .banner .statistics .heart,
.row-2 .banner .statistics .share,
.row-2 .banner .statistics {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #ffffff;
}

.row-2 .banner .statistics span {
    margin-left: 6px;
    margin-right: 16px;
}

.row-2 .next-slide {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.row-2 .next-slide div {
    margin-right: 12px;
    width: 60px;
    height: 8px;
    background-color: #366fc4;
    border-radius: 10px;
    cursor: pointer;
}

.row-2 .next-slide div:hover {
    background-color: var(--primary-color);
}

.row-2 .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 24px;
}

.row-2 .title-name {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.4;
    color: #fafafa;
}

.row-2 .card {
    cursor: pointer;
}

.row-2 .card .img-song {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.row-2 .card .infor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.row-2 .card .name {
    display: flex;
    flex-direction: column;
}

.row-2 .card .song-name {
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #ffffff;
}

.row-2 .card .singer-name {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.5);
}

.row-2 .card .infor .heart {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    font-size: 1.3;
    line-height: 19px;
    color: #ffffff;
}

.row-2 .card .infor .heart-icon {
    color: #ffffff;
    margin-right: 4px;
    width: 13px;
    height: 13px;
}

.row-2 .recently-played .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-2 .Sneak-Peak .items-big {
    display: flex;
    justify-content: space-between;
}

.row-2 .Sneak-Peak .card-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 47%;
    padding: 0 16px;
    height: 370px;
    background-position: top;
    background-size: cover;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.row-2 .Sneak-Peak .card-big-1 {
    background-image: linear-gradient(
            180deg,
            rgba(59, 58, 58, 0.444) 10%,
            rgba(0, 0, 0, 0.592) 100%
        ),
        url(/assets/img/blueming.jpg);
}

.row-2 .Sneak-Peak .card-big-2 {
    background-image: linear-gradient(
            180deg,
            rgba(59, 58, 58, 0.444) 10%,
            rgba(0, 0, 0, 0.592) 100%
        ),
        url(/assets/img/strawberrymoon.jpg);
}

.row-2 .Sneak-Peak .infor {
    display: flex;
    flex-direction: column;
}

.row-2 .Sneak-Peak .infor .status {
    margin-bottom: 25px;
    text-align: center;
    width: 100px;
    padding: 6px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #fafafa;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.row-2 .Sneak-Peak .infor .song-name {
    font-family: "Sen", sans-serif;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 1.4;
    color: #ffffff;
}

.row-2 .Sneak-Peak .infor .singer-name {
    font-family: "Sen", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.5);
}

.row-2 .Sneak-Peak .infor .date {
    font-family: "Sen", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.5);
}

.row-2 .Sneak-Peak .img-song img {
    width: 114px;
    height: 114px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 20px;
}
